# npm configuration
legacy-peer-deps=true
save-exact=false
engine-strict=false

# GitHub Packages configuration
@carlos-gs99:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

